body {
  cursor: pointer;
  display: grid;
}

#map {
  margin: auto;
  height: 35em;
  width: 75em;
  border: 5px solid rgb(96, 138, 22);
}

h3 {
  color: rgb(3, 50, 3);
  font-weight: bold;
}

.weather-icon {
  margin-top: 0.7em;
}

.button {
  padding: 0.6em;
  border: 2px solid rgb(161, 158, 158);
  font-size: 1.2em;
  border-radius: 15px;
  width: 20em;
  background-color: rgba(69, 183, 183, 0.732);
  font-weight: bold;
  letter-spacing: 0.05em;
  color: rgb(239, 238, 238);
  justify-self: center;
  align-self: center;
  text-align: center;
}

.button:hover {
  background-color: rgb(231, 193, 67);
  color: rgb(84, 84, 84);
}
